/* https://www.digitlhaus.com/contact/ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1b1b1b;
  --secondary-color: rgb(56, 136, 48);
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(102, 102, 102);
}

.navbar {
  background-color: var(--primary-color);
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: flex-end;
  height: 45px;
  position: fixed;
  padding: 2%;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 400px;
}

.navbar li {
  display: inline-block;
  list-style: none;
}

.contact-btn {
  border-radius: 10px;
  border: solid #FFF 2px;
  width: 100px;
  text-align: center;
} 

.navbar a {
  text-decoration: none;
  color: #FFF;
  transition: 0.4s ease-in-out;
}

.navbar a:hover {
  color: var(--secondary-color);
  font-size: 18px;
  padding:  0 0 5px 0;
  border-bottom: solid var(--secondary-color);
}

.navbar .contact-btn a:hover {
  color: var(--primary-color);
  font-size: 18px;
  border-bottom: 0px;
}

.navbar .contact-btn:hover {
  background-color: white;
}

.navbar .contact-btn:hover  a {
  color: var(--primary-color);
}

.welcome-section {
  background-color: var(--primary-color);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 100vw;
}

.welcome-section h1 {
  color: rgba(241, 240, 219, 0.863);
  font-size: 2rem;
  font-weight: 1000;
}

.welcome-section p {
  color: var(--secondary-color);
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  margin-top: 20px;
}

.about-section {
  height: 60vh;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 8%;
  line-height: 1.5rem
}

.about-section h2 {
  font-size: 1.8rem;
}

.about-section p {
  margin-top: 50px;
}

.projects {
  background-color: rgb(138, 139, 139);
  text-align: center;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 25px;
}

.projects h2 {
  color: #FFF;
  font-size: 1.8rem;
  margin-top: 60px;
}

.project-tile {
  /* border: solid black 1px; */
  border-radius: 30px;
  width: 400px;
  transition: 0.2s ease-in-out;
  margin: 50px auto;
}

.project-tile::after {
  content: "";
  background-color: rgba(128, 128, 128, 0.103);

}

.project-tile:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-in-out;
}

.project-tile img {
  height: 400px;
}

.project-tile h3 {
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-tile a {
  display: block;
  width: 100%;
  line-height: 48px;
  color: #FFF;
  text-decoration: none;
  transition: 0.4s ease;
} 

.project-tile a:hover {
  color:var(--secondary-color);
  font-size: 1.1em;
  transition: 0.4s ease;
} 

.contact {
  background-color: #FFF;
  height: 50vh;
  text-align: center;
  padding: 5% 2%
}

.contact h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-top: 60px;
}

.contact p {
  margin-top: 20px;
}

.social-container {
  margin: auto;
  margin-top: 40px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.social-btn {
  margin: auto;
  margin-top: 10px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: black;
}

.social-btn i {
  margin: 0 20px 0 0;
}

.social-btn a {
  justify-self: center;
  display: block;
  width: inherit;
  line-height: 49px;
  text-decoration: none;
  color: #FFF;
  font-size: 1.2em;
  transition: 1s ease-in-out;
}

.social-btn:hover {
  background-color: #FFF;
}

.social-btn:hover a {
  color: var(--primary-color);
  font-size: 1.25em;
}



/* -------- MEDIA QUERIES ------- */

@media (max-width: 768px) {

  .social-container {
    width: 100%;
    flex-direction: column;
    padding: 0 0 60px;
  }

}

@media (min-width: 768px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    padding: 0 50px;
  }

}